<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Page Title -->
  <title> Netfilx Clone </title>

  <!-- Main Css -->
  <link rel="stylesheet" href="src/css/styles.css">

  <!-- Main JS -->
  <script src="./src/js/script.js" defer></script>

</head>

<body>

  <div id="myVueItem">

    <header>
      <a href="./homePage.html">
        <img src="src/images/580b57fcd9996e24bc43c529.png" alt="netflixLogo" id="netflixLogo"></a>

      <button id="signOut"><a href="index.html" id="signOutText">Sign Out</a>
      </button>
    </header>

    <!-- Youtube trailer Video -->
    <div class="trailer">
      <iframe src="https://www.youtube-nocookie.com/embed/0U0L4uT0btQ?start=5" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen id="trailerVideo"></iframe>
    </div>

    <!-- Search Input and Search Button -->

    <div class="searchSection">

      <form class="search-box">

        <div>
          <input id="searchText" v-model="SearchInput.searchText" type="text" placeholder="What are you looking for?"
            required class="searchBar">
        </div>

        <div>
          <input id="searchButton" type="button" value="Search" v-on:click="theSearch" class="searchBtn">
        </div>

      </form>
    </div>

    <!-- Display the Search results-->
    <!-- Not searched yet-->
    <div v-show="!searched">
      <!-- The search button is not clicked yet so we show nothing here-->
      <!-- this "!searched" means not searched---->
    </div>

    <div v-show="searched" class="searchedDisplay">
      <div v-for="(event,index) in searchTitles">
        <a class="movie-link">
          <div class="searchDisplayMovies">
            <img :src="event.Poster" alt="Movie Poster">
            <div>{{event. title}}</div>
            <div>{{event.genre}}</div>
            <div>{{event.ReleaseDate}}</div>
            <div class="button"><button v-on: click="addToWatchList(event)">NOT watched</button></div>
          </div>
        </a>
      </div>
    </div>

    <!-- Menu that takes you to the section where the different movies are displayed according to their category-->
    <h1 class="title">Movies Category</h1>

    <div class="container-fluid">

      <ul><a href="#MOVIES AVAILABLE" class="nav-menu">MOVIES AVAILABLE</a></ul>
      <ul><a href="#COMING SOON" class="nav-menu">COMING SOON</a></ul>
      <ul><a href="#WATCHED" class="nav-menu">WATCHED</a></ul>
      <ul><a href="#NOT WATCHED" class="nav-menu">NOT WATCHED</a></ul>

    </div>

    <!------ Available------>

    <div class="row">
      <h3 id="MOVIES AVAILABLE" class="display-2">MOVIES AVAILABLE</h3>

      <div class="horizontalDisplayClass">
        <div v-for="(event,index) in movies" class="movies row_poster row_posterExtraLarge">
          <a class="movie-link">
            <div class="product-image">
              <img :src="event.Poster" class="moviePoster" alt="Movie Poster">
              <div class="type">{{event.title}}</div>
              <div class="type2">{{event.Genre}}</div>
              <div class="type3">{{event.ReleaseDate}}</div>
              <div class="type4"><button v-on: click="addToWatchList(event)">Add</button></div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!------ Coming soon------>

    <div class="row">
      <h3 id="COMING SOON" class="display-2">COMING SOON</h3>
      <div class="horizontalDisplayClass">
        <div v-for="(event,index) in filteredMoviesComingSoon" class="movies row_poster row_posterLarge">
          <a class="movie-link">
            <div class="product-image">
              <img :src="event.Poster" class="moviePoster" alt="Movie Poster">
              <div class="type">{{event.title}}</div>
              <div class="type2">{{event.Genre}}</div>
              <div class="type3">{{event.ReleaseDate}}</div>
              <div class="type4"><button v-on: click="addToWatchList(event)">Add</button></div>
            </div>
          </a>
        </div>
      </div>
    </div>


    <!------Watched-------->

    <div class="row">
      <h3 id="WATCHED" class="display-2">WATCHED</h3>
      <div class="horizontalDisplayClass">
        <div v-for="(event,index) in filteredWatchedMovie">
          <a class="movie-link">
            <div>
              <img :src="event.Poster" alt="Movie Poster" class="moviePoster">
              <div>{{event.title}}</div>
              <div>{{event.genre}}</div>
              <div>{{event.ReleaseDate}}</div>
              <div class="button"><button v-on: click="addToWatchList(event)">Add</button></div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!------NOT Watched-------->
    <div class="row">
      <h3 id="NOT WATCHED" class="display-2">NOT WATCHED</h3>
      <div class="horizontalDisplayClass">
        <div v-for="(event,index) in filteredNotWatchedMovies">
          <a class="movie-link">
            <div>
              <img :src="event.Poster" alt="Movie Poster" class="moviePoster">
              <div>{{event.title}}</div>
              <div>{{event.genre}}</div>
              <div>{{event.ReleaseDate}}</div>
              <div class="button"><button v-on: click="addToWatchList(event)">Add</button></div>
            </div>
          </a>
        </div>
      </div>
    </div>

<!------------------------------------------------------
                        WatchList
------------------------------------------------------->


    <!-- This is where your movies will appear if you can manage to make the add to watch list function -->
    <div class="row">
      <h2>WatchList</h2>
      <div class="movies-list row__posters">
        <div v-for="watch in watchList" class="movie row__poster row__posterLarge">
          <a class="movie-link">
            <div class="product-image">
              <img :src="watch.Poster" alt="Movie Poster" v-on:click="changeBanner(watch)">
              <div class="type">{{watch.Genre}}</div>
              <div class="type3">{{watch.ReleaseDate}}</div>
            </div>
        </div>
        </a>
      </div>
    </div>


  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>

</body>

</html>