body{
    
    background-image: url(../images/netflixLandingPage);
}
.container{
    width : 50% ;  
    height : 50% ;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}