header {
    background-image : url("../images/actionmovie.webp");
    height: 400px;
}

body {
    background-color: #e50914;
}

.movie-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding :20px;
}

.horizontalDisplayClass {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.horizontalDisplayClass ::-webkit-scrollbar {
    display:none ;
}

.moviePoster{
  height : 20px ;
  width : 40px ;
  border-radius: 10%;
  flex-direction : row; 
  justify-content:space-between ;
 
}

