header {
    background-image : url("../images/actionmovie.webp");
    height: 400px;
}

body {
    background-color: #3e3a3a;
}

.movie-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding :20px;
}



.horizontalDisplayClass {
    display: flex;
    overflow-y: hidden;
    overflow-x:scroll;
    padding: 10px;
    margin : ;
}

.horizontalDisplayClass:hover {
    transform: scale(1.08);
}

.horizontalDisplayClass ::-webkit-scrollbar {
    display:none ;
}

.moviePoster{
  object-fit:contain ;
  margin-right : 10px;
  width :100x ;
  max-height :100px; 
  flex-direction : row; 
  justify-content:space-between ;
  
  transition : transform 450ms ;
}


.moviePoster:hover{
    transform: scale(1.08);
}

button{
   background-color: #e33e3e ;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}